body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

h1{
    text-align: center;
}

.container {
    width: 300px;
    height: auto;
    /* margin-top: 50px; */
    padding-bottom: 30px;
    border: 1px solid #3498db;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);
    -moz-box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);
    box-shadow: -1px 8px 8px 1px rgba(123, 144, 169, 1);
}

input[type="text"] {
    height: 50px;
    width: 280px;
    padding: 15px 10px;
    text-align: right;
    border: none;
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    background: #0086FF;
    margin-bottom: 15px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input[type="text"]::placeholder {
    color: #ecf0f1;
}

.cal-keys .cal-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-keys .cal-row button {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid #3498db;
    font-weight: 400;
    font-size: 25px;
    background: #ecf0f1;
    cursor: pointer;
    -webkit-box-shadow: -1px 8px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 8px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
}



.cal-keys .cal-row .btn-equal {
    width: 77%;
}

.cal-keys .cal-row button:focus {
    outline: none;
}

.cal-keys .cal-row button:active {
    transform: translateY(.1rem);
    border: none;
}

.cal-keys .cal-row .btn-equal {
    background: #0086FF;
    color: #ffffff;

}

.cal-keys .cal-row .btn-blue {
    background: #9ACDFF;
    color: #ffffff;

}